[Desktop Entry]
Type=Application
Name=TLI Tracker
Comment=Torchlight: Infinite tracker
Exec=tli-tracker-app
Icon=tli-tracker
Terminal=true
Categories=Utility;Game;
